
input[type=text]{
    		padding-right: 20%;
    		padding: 7px;

    	}
    	
    	label{
        
         text-align: left;
         
    	}
    	
    	input{
    		border-radius: 5px 5px 5px 5px;
    		padding: 10px;
    	}
    	


   